:root {
    --queen-pink: #d6c3c9ff;
    --almond: #E9D7C3ff;
    --glaucous: #5589C3ff;
    --olivine: #9BAD63ff;
    --gunmetal: #022936ff;
}

#housing-header {
    height: 10vh;
    margin-top: 5vh;
    border: 10px ridge var(--queen-pink);
}

#accordion {
    width: 75%;
    margin: 5vh auto;
    border: 10px ridge var(--queen-pink);
}

.card-header {
    background: var(--almond);
    border: 5px ridge var(--almond);
}

.btn-link{
    font-size: 1.8rem;
    letter-spacing: 1px;
    color: var(--gunmetal);
}

.btn-link:hover{
    color: var(--gunmetal);
    text-shadow: 0 0 5px var(--almond);
}

:root {
    --queen-pink: #d6c3c9ff;
    --almond: #E9D7C3ff;
    --glaucous: #5589C3ff;
    --olivine: #9BAD63ff;
    --gunmetal: #022936ff;
}

.customer-container {
    height: 40vh;
}

hr {
    border-top: 1px solid var(--gunmetal);
}

p {
    margin-bottom: 0;
}

#add-note {
    font-size: 1.5rem;
    position: fixed;
    top: 20%;
    right: 4%;
    background: #e8d8c2;
    color: #554939;
    padding: 10px;
    border-radius: 50%;
    border: 5px solid;
}

#add-note:hover {
    text-decoration: none;
    background: #554939;
    color: #e8d8c2;
}

#notes-navbar {
    border: 10px ridge var(--queen-pink);
}

#notes-nav-title {
    font-weight: 800;
    color: var(--gunmetal);
}

#notes-nav-title:hover {
    color: whitesmoke;
    text-shadow: var(--gunmetal) 0 0 5px;
    text-decoration: none;
}

.menu-nav-link {
    font-size: 1.3rem!important;
}

.note-card {
    height: auto!important;
    font-size: 1.3rem;
    margin: 5vh auto 5vh;
}

#note-title{
    font-size: 1.7rem;
    font-weight: 700;
    font-family: cursive;
    letter-spacing: 1px;
}

#delete-note {
    font-size: 1.7rem;
}

#close {
    font-size: 1.3rem;
}

#description {
    font-size: 1.3rem;
    padding: 10px;
    color: #000000;
    background: #a99c8c;
    border: ridge 12px #a99272;
}

#created {
    font-size: 1.2rem;
}

#created_by{
    font-size: 1.2rem;
}

#user{
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#add-note-header {
    height: 10vh;
    margin-top: 5vh;
    border: 10px ridge var(--queen-pink);
}

#add-note-form {
    margin: 5vh auto;
}

.control-label {
    font-family: cursive;
    font-size: 1.5rem;
    text-decoration: underline;
}

.select, .textarea {
    font-size: 1.3rem;
}

.select {
    width: 25vw;
    text-align: center;
}

#id_title {
    font-size: 1.3rem;
    width: 30vw;
    text-align: center;
}

.textarea {
    width: 35vw;
    text-align: center;
}

label {
    margin-top: 2vh ;
    font-size: 2rem!important;
    font-family: cursive;
}

#add-note-submit {
    line-height: initial;
}

input[type='checkbox'] {
    width: 40px;
    height: 22px;
    margin-top: 10px;
}

#id_checkout_date {
    margin-bottom: 10px;
}

#date-example {
    font-size: 1.3rem;
}

/* #div_id_created_by {
    display: none;
} */

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

#divider:hover {
    text-decoration: none;
}

.list-delete {
    font-size: 1.5rem;
    margin-top: 10px;
}