:root {
    --queen-pink: #d6c3c9ff;
    --almond: #E9D7C3ff;
    --glaucous: #5589C3ff;
    --olivine: #9BAD63ff;
    --gunmetal: #022936ff;
}

#date{
    font-family: cursive;
    margin-bottom: 3vh;
}

#home-container {
    height: 35pc;
    width: 75vw;
    margin-top: 10vh;
    opacity: 0;
}

#checkin-info, #notes-info {
    background: var(--glaucous);
    border-radius: 10px;
    color: #fdf4f7;
    padding-bottom: 5px;
    margin-bottom: 5vh;
    text-shadow: 0 0 5px var(--gunmetal);
}

#checkin-info li a, #notes-info li a {
    color: #fdf4f7;
}

.home-list-item{
    margin: 2pc;
    /* color: var(--gunmetal)!important;
    border: 2px solid aliceblue;
    border-radius: 10px;
    background: aliceblue;
    font-size: 1.3rem;
    padding: 15px;
    font-weight: 700;
    text-transform: capitalize; */
}

/* .home-list-item:hover{
    color: aliceblue!important;
    border: 2px solid var(--gunmetal);
    background: var(--gunmetal);
    text-decoration: none;
} */

.grid {
    display: grid;
}

small {
    font-size: 60%;
    margin-top: -10px;
}

#login-button {
    margin-top: 20%;
}

#login-info {
    padding: 0 5vw;
    margin-top: 5%;
}