{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'bookings/css/bookings.css' %}">
{% endblock %}

{% block extra_js %}
{% endblock %}

{% block page_header %}
{% endblock %}

{% block content %}
    <div id="housing-header" class="container custom-container w-25">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="cursive">Housing List</h2>
            </div>
        </div>
    </div>
    <div id="accordion">
        <div class="card">
            <div class="card-header text-center" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link cursive" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                        aria-controls="collapseOne">
                        Apartments
                    </button>
                </h5>
            </div>

            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                    <style>
                        table {
                          font-family: arial, sans-serif;
                          border-collapse: collapse;
                          width: 100%;
                        }
                        
                        td, th {
                          border: 1px solid #dddddd;
                          text-align: left;
                          padding: 8px;
                        }
                        
                        tr:nth-child(even) {
                          background-color: #dddddd;
                        }
                    </style>
                    <table>
                        <tr>
                          <th>Housing</th>
                          <th>Water</th>
                          <th>Power</th>
                          <th>Tidy</th>
                        </tr>
                        {% for apartment in housing %}
                            {% if apartment.h_type.name == "apartments" %}
                                <tr>
                                    <td>{{apartment.title}}</td>
                                    <td>{{apartment.water}}</td>
                                    <td>{{apartment.heat}}</td>
                                    <td>{{apartment.tidy}}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                      </table>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header text-center" id="headingTwo">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed cursive" data-toggle="collapse" data-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                        Cottages
                    </button>
                </h5>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                    <table>
                        <tr>
                          <th>Housing</th>
                          <th>Water</th>
                          <th>Power</th>
                          <th>Tidy</th>
                        </tr>
                        {% for cottage in housing %}
                            {% if cottage.h_type.name == "cottages" %}
                                <tr>
                                    <td>{{cottage.title}}</td>
                                    <td>{{cottage.water}}</td>
                                    <td>{{cottage.heat}}</td>
                                    <td>{{cottage.tidy}}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                      </table>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header text-center" id="headingThree">
                <h5 class="mb-0">
                    <button class="btn btn-link collapsed cursive" data-toggle="collapse" data-target="#collapseThree"
                        aria-expanded="false" aria-controls="collapseThree">
                        Lodges
                    </button>
                </h5>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                    <table>
                        <tr>
                          <th>Housing</th>
                          <th>Water</th>
                          <th>Power</th>
                          <th>Tidy</th>
                        </tr>
                        {% for lodge in housing %}
                            {% if lodge.h_type.name == "lodges" %}
                                <tr>
                                    <td>{{lodge.title}}</td>
                                    <td>{{lodge.water}}</td>
                                    <td>{{lodge.heat}}</td>
                                    <td>{{lodge.tidy}}</td>
                                </tr>
                            {% endif %}
                        {% endfor %}
                      </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{% endblock %}